html, body{
	height: 100%;
}
header{
	margin-top: 35px;
	text-align: center;
	position: relative;
}
a,
main > div > div  > h4 > a{
	text-decoration: underline;
	color: #11a511;
}
a:hover,
a:focus,
a:visited,
main > div > div  > h4 > a:hover,
main > div > div  > h4 > a:focus,
main > div > div  > h4 > a:visited{
	text-decoration: underline;
	color: #11a511;
}
h3{
	text-decoration: underline;
	padding-bottom: 8px;
}


.theme{
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}
.post-container{
	border-right: 1px solid #11a511;
	border-left: 1px solid #11a511;
}
.list{
	justify-content: center;
}
.list-record{
	margin-bottom: 10px;
	text-align: center;
}


/* /////////////////////////
Dark Theme
//////////////////////// */
.body-dark > header > div >  h1{
	color: white;
	transition: 0.3s;
}
.body-dark > main > *:not(a){
	color: #efefef;
	transition: 0.3s;
}

/* /////////////////////////
Light Theme
//////////////////////// */
.body-light > header > div >  h1{
	color: black !important;
	transition: 0.3s;
}
.body-light > main > *:not(a){
	color: black;
	transition: 0.3s;
}