html, body{
	height: 100%;
}
header{
	margin-top: 35px;
	text-align: center;
	position: relative;
}


.theme{
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
}
.post-container{
	border-right: 1px solid #11a511;
	border-left: 1px solid #11a511;
}


/* /////////////////////////
Dark Theme
//////////////////////// */
.body-dark > header > div >  h1,
.body-dark > main > div > section > h2{
	color: white;
	transition: 0.3s;
}
.body-dark > header > div > span{
	color: rgba(255, 255, 255, 0.75) !important;
	transition: 0.3s;
}


/* /////////////////////////
Light Theme
//////////////////////// */
.body-light > header > div >  h1,
.body-light > header > div >  span,
.body-light > main > div > section > h2{
	color: black !important;
	transition: 0.3s;
}