select:hover{
	cursor: pointer;
}

.mini-header{
	margin-bottom: 2.5em;
	width: 100%;
}
.mini-header > form{
	display: flex;
	justify-content: center;
}
.query > *{
	height: 33px;
	border-radius: 8px;
	border: none;
	outline: none;
	padding-right: 16px;
	margin-right: 8px;
	background: var(--main-input-bg-color);
	color: var(--main-text-color);
}

.loader-wrapper{
	display: flex;
	justify-content: center;
	animation: fadeIn ease 0.3s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.loader{
	border: 16px solid rgba(255, 255, 255, 0.75);
	border-top: 16px solid var(--main-links-color);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

main > div > section > .box{
	transition: 0.4s;
}
main > div > section > .box:hover{
	transform: scale(1.02);	
}