body{
	padding-bottom: 2em;
}
.container{
	overflow-x: visible;
}
.banner{
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	margin-top: 3em;
	margin-bottom: 1em;
}
.banner > div{
	display: flex;
	justify-content: center;
	align-items: stretch;
}
.banner > div > div{
	width: 100%;
}

.banner > div > div > h1{
	margin-bottom: 0.5em;
	font-weight: bold;
}
.banner > div > div > p{
	margin-bottom: 1.5em;
	color: #c0c0c0;
}
.Btn{
	display: inline-block;
	width: 100%;
  padding: 0.5em;

	border: 1px solid var(--main-links-color);
	border-radius: 15px;
  background: transparent;


  text-decoration: none;
	text-align: center;
  color: var(--main-links-color);
  
  transition: 0.3s;
}
.Btn:hover{
	background: #02556f;
}

.portfolio{
	display: flex;
	flex-direction: column;
	margin-top: 1em;
	align-items: stretch;
}
.title-work{
	text-align: center;
	margin: 0.7em 0 1.2em 0;
}
.work-wrapper{
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 5em;
	border-bottom-right-radius: 5em;

	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 2rem 2.5rem;
	align-items: center;

	transition: 0.3s;
}
.work-wrapper > h5{
	font-weight: bold;
	text-align: center;
	margin-bottom: 0.7em;
}
.work-wrapper > img{
	width: 100%;
	border-radius: 12px;
	margin-bottom: 0.5em;
}
.work-wrapper > p{
	font-weight: 700;
	margin-bottom: 0;
}

#record-display,
#record-extend{
	display: flex;
}
#record-display > div{
	cursor: pointer;
}
@media only screen and (min-width: 1000px){
	#record-display{
		height: 38em;
	}

	.carousel,
	.carousel-inner,
	.carousel-control-prev,
	.carousel-control-next{
		height: 100%;
	}
}

.carousel-inner{
	overflow: visible;
}
.carousel-control-prev,
.carousel-control-next{
	z-index: 1060;
}
.row-vertical-center{
	align-items: center;
}
.button-work{
	border: none;
	background: transparent;
}

.load_more_wrapper{
	margin-top: 1.5em;
	width: 100%;
	padding: 0 35%;
}

.record-extend-c{
	align-items: start;
	overflow-y: auto;
}
.record-extend-c > h2{
	margin-bottom: 1em;
	font-weight: bold;
	text-align: center;
}
.record-extend-c > p{
	font-weight: normal;
	margin-bottom: 2em;
}
.record-extend-c > span{
	font-weight: bold;
}
.record-extend-c > ul{
	margin-bottom: 2em;
}