:root {
  --main-bg-color: #00303e;
  --main-links-color: #11a511;
  --main-title-color: #ffffff;
  --main-text-color: #efefef;
  --main-code-color: #e3c28f;
  --main-input-bg-color: rgba(40, 47, 50, 0.6);
}

html,body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    transition: 0.3s;
    background-color: var(--main-bg-color);
}
h1,h2,h3,h4,h5,h6{
    color: var(--main-title-color);
}
p,span,li,th,td{
    color: var(--main-text-color);
}
a:is(*, :hover, :focus, :visited),
hr{
    color: var(--main-links-color);
}
/* Disabling Bootstrap Edits */
code{
    color: var(--main-code-color) !important;
}
main{
    margin-top: 7em;
}
/* Disabling Bootstrap Edits */

.box{
    box-shadow:-10px 5px 30px rgb(0 0 0 / 50%);
    border-radius:15px;
    padding: 30px;
}