main{
	margin-top: 0;
	padding: 2em;
}
a:is(*, :hover, :visited, :focus){
	text-decoration: none;
}
hr{
	height: 2px !important;
	opacity: 0.8;
}
svg{
	fill: rgb(255 255 255 / 90%);
}

.pp-card > div{
	text-align: center;
}
.pp-pic{
	border-radius: 26px;
	height: 170px;
}
.pp-secondHalf{
	text-align: justify;
}
.button-cv{
	width: 100%;
	margin: 0;
}

button{
	background: transparent;
	border-radius: 15px;
	border-color: var(--main-links-color);
	color: var(--main-links-color);
	padding: 5px;
	margin: 5px;
	transition: 0.3s;
}
button:hover{
	background: #02556f;
}


.row{
	justify-content: center;
	align-items: stretch;
}

.box{
	text-align: center;
	color: var(--main-links-color);
	transition-property: transform;
	height: 100%;
	transition: 0.3s;
}
.box > section{
	width: 100%;
}
.box > svg{
	height: 70px;
	margin-bottom: 15px;
}

.pages{
	margin-top: 0.5em;
}
.pages > section > a > .box:hover{
	transform: scale(1.03);
}