html{
	height: 100%;
}
*::-webkit-scrollbar{
  	display: none;
}
*{
	-ms-overflow-style: none;
	scrollbar-width: none
}
body{
	display: flex;
	flex-direction: column;
	color: white;
	height: 100%;
	scrollbar-width: auto;
}
body::-webkit-scrollbar{
	display: block;
}
a, a:hover{
	text-decoration: none;
}

header{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	justify-content: space-between !important;
	padding: 0 10px 0 20px;
	transition: 0.3s;
}
main{
	margin-top: 35px;
}
button{
	background: transparent;
	border-radius: 15px;
	border-color: #11a511;
	color: #11a511;
	padding: 5px;
	margin: 5px;
	transition: 0.25s;
}
main > section > div > div > div > p > span > a,
main > section > div > div > div > ul > li > a,
main > section > div > div > div > div > p > span > a,
main > section > div > div > div > div > ul > li > a,
main > section > p > a{
	text-decoration: underline;
	color: #11a511;
}
main > section > div > div > div > p > span > a:hover,
main > section > div > div > div > p > span > a:focus,
main > section > div > div > div > p > span > a:visited,
main > section > div > div > div > ul > li > a:hover,
main > section > div > div > div > ul > li > a:focus,
main > section > div > div > div > ul > li > a:visited,
main > section > div > div > div > div > p > span > a:hover,
main > section > div > div > div > div > p > span > a:focus,
main > section > div > div > div > div > p > span > a:visited,
main > section > div > div > div > div > ul > li > a:hover,
main > section > div > div > div > div > ul > li > a:focus,
main > section > div > div > div > div > ul > li > a:visited,
main > section > p > a:hover,
main > section > p > a:focus,
main > section > p > a:visited{
	text-decoration: underline;
	color: #11a511;
}

.fixed-top{
	position: sticky;
}
.navbar-collapse{
	flex-grow: unset;
}
.navbar-toggler:focus{
	box-shadow: none;
}
.nav-item{
	color: rgba(255, 255, 255, 0.75);
	border-radius: 10px;
	transition: 0.3s;
}
.nav-item:hover{
	background-color: #11A511;
}
.active{
	color: white;
}

.pp-card > div{
	text-align: center;
}
.pp-pic{
	border-radius: 50%;
}
@media screen and (max-width: 768px) {
	.box-fullHieght{
		height: 90%;
	}
}
@media screen and (min-width: 768px) {
	.box-fullHieght{
		height: 85%;
	}
}
.box-xp{
	padding-left: 18px;
	border-left: 2px solid #11a511;
	transition: 0.1s;
}
.button-raw{
	border:  none;
	outline: none;
	box-shadow: none;
	color: inherit;
	text-decoration: none;
	color: #11a511;
	float: right;
	margin-top: -30px;
}
.button-raw:hover{
	background: none !important;
}
.popup{
	display: none;
	position: absolute;
	left: 10%;
	right: 10%;
	top: 85px;
	z-index: 1;
	height: 500px;
	width: 80%;
	overflow-y: scroll;
}
.show{
	display: block;
}
.techStack-record-h{
	margin-left: 10px;
}
.techStack-record-span{
	text-align: center;
}
.techStack-hr{
	height: 2px;
	margin: 8px 0;
	opacity: 1;
}
/* /////////////////////////
Dark Theme
//////////////////////// */
.body-dark > header{
	background-color: #212529;
}
.body-dark > main > .box{
	background-color: #4a4a4a26;
}
.body-dark > header > a,
.body-dark > header > div > ul > li > a,
.body-dark > header > div > ul > li > a:hover,
.body-dark > header > div > ul > li > a:focus,
.body-dark > header > div > ul > li > a:visited{
	color: inherit;
}
.body-dark > main > section > div > div > h1,
.body-dark > main > section > div > div > h2,
.body-dark > main > section > h2,
.body-dark > main > section > div > h3,
.body-dark > main > section > div > div > div > h5,
.body-dark > main > section > div > div > div > div > h5,
.body-dark > main > section > div > div > div > div > h6{
	color: white;
	transition: 0.3s;
}
.body-dark > main > section > div > div > p,
.body-dark > main > section > p,
.body-dark > main > section > div > hr,
.body-dark > main > section > div > div > div > p > span,
.body-dark > main > section > div > div > div > ul > li,
.body-dark > main > section > div > div > div > div > p > span,
.body-dark > main > section > div > div > div > div > ul > li,
.body-dark > main > section > div > div > div > div > span{
	color: rgba(255, 255, 255, 0.75) !important;
	transition: 0.3s;
}
.body-dark > main > section > div > div > button:hover,
.body-dark > main > section > div > div > a > button:hover{
	background-color: #901010;
}
.body-dark > main > section > div > div > .popup{
	background-color: rgb(33, 37, 41);
	transition: 0.3s;
}


/* /////////////////////////
Light Theme
//////////////////////// */
.body-light > header{
	background-color: #49654E;
}
.body-light > main > .box{
	background-color: rgba(255, 255, 255, 0.15);
}
.body-light > header > a,
.body-light > header > div > ul > li > a,
.body-light > header > div > ul > li > a:hover,
.body-light > header > div > ul > li > a:focus,
.body-light > header > div > ul > li > a:visited{
	color: inherit;
}
.body-light > main > section > div > div > h1,
.body-light > main > section > div > div > h2,
.body-light > main > section > div > div > p,
.body-light > main > section > h2,
.body-light > main > section > p,
.body-light > main > section > div > hr,
.body-light > main > section > div > h3,
.body-light > main > section > div > div > div > h5,
.body-light > main > section > div > div > div > p > span,
.body-light > main > section > div > div > div > ul > li,
.body-light > main > section > div > div > div > div > h5,
.body-light > main > section > div > div > div > div > p > span,
.body-light > main > section > div > div > div > div > ul > li,
.body-light > main > section > div > div > div > div > h6,
.body-light > main > section > div > div > div > div > span{
	color: black;
	transition: 0.3s;
}
.body-light > main > section > div > div > button:hover,
.body-light > main > section > div > div > a > button:hover{
	background-color: #c0cfb2;
}
.body-light > main > section > div > div > div{
	background-color: rgb(239, 238, 233);
	transition: 0.3s;
}
