<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/imgs/fav_icon.png">
	<title><%= post %></title>

	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/global.css">
	<link rel="stylesheet" href="/css/blog_cat.css">
	<style type="text/css">
		main :not(h3, h4){
			text-align: justify;
		}
		p, span{
			word-break: break-all;
		}
		h4{
			text-decoration: underline;
		}
		
		
	</style>
	<script src="/js/bootstrap.bundle.js"></script>
	<script src="/js/global.js"></script>
</head>
<body class="body-dark">
	<header class="container">
		<div class="box" style="word-break: break-all;">
			<h1><%= post.split("_").join(" ") %></h1>
			<div class="theme">
				<%- include("../../../theme_switch.ejs") %>

				<a href="./">
					<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#11a511" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
					 	<path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
					</svg>
				</a>
			</div>
		</div>
	</header>

	<br>

	<main class="container">
		<span style="display: block; text-align: center;">Added: 20-08-2023 / Updated: 20-08-2023</span>

		<br>
		
		<h3>Introduction</h3>

<p>InnovEgypt (Innovate Egypt) is a 7-day bootcamp managed by <a href="https://tiec.gov.eg/" target="_blank">TIEC</a> that enriches your mindset in organizing ideas using multiple business side tools. It gradually evolves you to not only think about technical details when planning an idea, but also think how to explain it to both technical and non-technical people, and how to deliver value without saying I'm building something using frameworks one &amp; two.</p>

<p>During the program, you get to widely expand your network by participating in tasks, forming teams, and getting known to people around you. Mentors give you opportunities to personally talk to them and follow up with them for other opportunities inside &amp; outside the bootcamp scope.</p>

<p>The talk of this blog is to describe the bootcamp environment from an attendee, and an organizer perspectives relative to my experience, and explain the wide range of benefits and opportunities the program provides. It can also be a good reference to decide whether it's a suitable program for you to join. Also mention some of the astonishing people living in this community! :D</p>
<h3>POV as an Attendee</h3>
<h3>Offline Phase</h3>
<p>I attended InnovEgypt in July 2022. Some friends in AIET Campus encouraged me to join, Kudos <a href="https://www.facebook.com/salmahamed.bakr.1" target="_blank">Tarek Ahmed](https://www.linkedin.com/in/tarek-ahmed-faried) &amp; [Salma Hamed</a>! :) . The bootcamp, as mentioned above, is 7 days long. 2 offline days &amp; 5 online days on Zoom. So I filled the application form, took 2 days off of my internship, and embarked to Borg El Arab where the bootcamp was held for 2022.</p>

<p>I have to say, from the first second we grouped in front of the transportation bus, and I immediately got to know new people. 2 remarkable persons, whom I now work with are Mahmoud Ragab &amp; <a href="https://www.linkedin.com/in/mohamed-gouda-mba-2b0b6b56" target="_blank">Rowan Ahmed](https://www.linkedin.com/in/rowan-ahmed-0741a2171). Approaching the training campus. Our mentor was [Mohammed Gouda</a>, an entrepreneur, and a great businessman. The training included many talks, experiences, discussions, and tasks on how to create a business model for your idea, how to sell your idea, yourself, and how to choose markets or groups of people where your product's mission and vision can align with their needs. On our first day, we got to know about innovation &amp; creativity, how to plan &amp; organize ideas, how people can translate these ideas based on some parameters that we can control, and reflect discussions on graphs like S-curve, innovation curve, Gartner's hype cycles, and many more. Session included lots of interactive talks and discussions between the mentor and attendees, and between the attendees themselves to explain &amp; understand these topics.</p>

<p>At the end of the first day, the tension air between attendees was finally broke, and we began to exchange contacts and began to form teams for the second day. I'm writing this article in Aug 2023 so gonna do my best to mention all I've met back then. xd</p>
<ul>
<li><a href="https://www.linkedin.com/in/mahmoud-hamed-10666b22a" target="_blank">Mahmoud Namnam</a></li>
<li>Sarah Hani</li>
<li>Ramy Essam</li>
<li>Eman Gaber</li>
<li>Ahmed Fathy</li>
<li>Abdelrahman Morgan</li>
</ul>

<p>Second day, We began to apply this new mindset. there were discussions on real life examples of people who made great success by elevating their design thinking and reflecting this to their product. prepare and present talks on ideas we chose, what are the benefits it provides, how it empathizes with the targeted people, and more. At EOD, We were given some materials, and we had about 20mins to brainstorm and create a hand-made product where we can sell to people on campus. and that's what we did. we used the time and resources to create multiple products and prepare mini-transcripts for talking with people. finishing the challenge we were given another 20mins to sell the products and we had a revenue leaderboard. Can't remember our teams rank back then, but I remember that all of the teams were more than happy whatever the revenue they got was. It was a great experience!</p>

<p>A summary of the training. You learn how to solve a problem <span style="font-weight: bold;">with</span> the customer not <span style="font-weight: bold;">for</span> the customer.</p>

<p>On our way back, we continued talking about following up with each other and making communities. Me, Namnam, and Ahmed Fathy began to talk more about web development and share experiences &amp; events. Later Namnam joined our IEEE AIET campus in the Technical Committee. Others we meet in other networking event like Techne Summit Alexandria 2022. Mahmoud Ragab and I met in almost every event that had entrepreneurship title in it, and he was the one who mentioned TIEC Innovation Ambassadors program and offered me to join. This is where I began my journey as an Innovation Ambassador @ TIEC.</p>
<h3>Online Phase</h3>
<p>This part took place on Aspire learning platform &amp; Zoom. Our trainer was <a href="https://www.linkedin.com/in/tramrghannam" target="_blank">Amr Ghannam</a>, We began to more deeply study what's a business model, and do tasks that complete every part of with. The sessions were typically divided to understand a new part of the business model, create rooms in Zoom for every team and complete a task related to it. Finally, get an assignment to complete during the rest of the day with the team.</p>

<p>At the sixth day we get an assignment to prepare a presentation with a speaking plan that's to be chose by every team, and this should be ready to be discussed by the mentors on the last day. Topic will be on the project they chose from the beginning of the bootcamp, in the team creation phase. The speakers of the team are interviewed by the mentors, and they get to ask the team questions as if they're presenting an idea for a startup. If you're serious enough, you can take this opportunity to a next level and follow up with them to join TIEC Incubators program, and take a real life step to bring your idea to life.</p>

<p>After the online phase, Teams performance are graded, and certificates are distributed. Note that this may take some time as TIEC prepares these certificates for a number of other bootcamps all around Egypt. So just wait and regularly follow you email, you will be also notified from the organizers when the distribution begins.</p>
<h3>Some Concerns You May Have</h3>
<p><span style="font-weight: bold;">How to be sure that the program is suitable for you?</span></p>
<p>If you're planning to work in a non-government company, whether in tech or non-tech, then you definitely should join. You get to understand how a company business cycle operates, and if at some point you want to start your own startup, then you got the basics of what you need to know to continue.</p>

<p><span style="font-weight: bold;">I joined the program but can't see benefits?</span></p>
<p>Just give yourself some time to digest the information, and more importantly research a bit using the provided resources from your sessions. If you don't find it reflecting in your performance during the program, then rest assured, that it will greatly impact your thinking and the way you talk for any upcoming problem/challenge you'll encounter.</p>

<p><span style="font-weight: bold;">I'm an introvert!</span></p>
<p>Well I'm an introvert too.. xD</p>
<p>Really, It doesn't matter.. Mentors take really great steps to break the ice, and work with you to overcome social anxiety, without losing your introvert personality if you like it. In fact, networking, and taking an opportunity are ones of the bootcamp goals. You'll get to face challenges not only from doing tasks, but also with syncing with your team, and It's totally fine, the rest of the bootcamp is also like this, and using what you'll learn from the sessions, you can apply it to the team as a first step. And the program will teach you how to balance between socializing and not-socializing.</p>

<p><span style="font-weight: bold;">Can I share some examples of the tasks I worked on?</span></p>
<p>Unfortunately no, Aspire didn't allow us to take the presentation materials that were presented on Zoom, and same for the tasks. I don't have permission to share them.</p>
<h3>POV as an Ambassador</h3>
<p>I was interviewed in late September and joined the community in December 2022. Summer was over and college timelines were running, so there wasn't much to do during the period but to give talks about the program and expand its reputation in the campus. This year I encouraged my friend <a href="https://www.linkedin.com/in/ahmed-saeed-3635b6217/" target="_blank">Ahmed Saeed</a> to join, and he did! He also provided some constructive feedbacks that helped me write the first section with a more generalized view.</p>

<p>Action began in 2023 summer, multiple camps across Egypt began to get schedules and volunteers were required. So I applied for Alexandria camp which took place in <a href="https://goo.gl/maps/UG8XMDHWKLxiwLu88" target="_blank">Alexandria University</a> during 2-8 August. This is when I first got to work with Rowan. :)</p>

<p>Attending the offline days were enriching. Although it was the same content, I did learn a couple of new things about design thinking. The trainers were different. <a href="https://www.linkedin.com/in/sara-hamouda-095a5a221" target="_blank">Dr. Sara Hamouda</a> was the presenter, one of the most generous people I've ever met, and she did an astonishing job in delivering the training. Work from our side was mainly revolving around 3 points on both offline &amp; online sessions:</p>
<ul>
<li>Help trainers with distributing activity materials.</li>
<li>Take attendance.</li>
<li>Take media records. (photos &amp; videos)</li>
<li>Answer any attendee queries if possible.</li>
</ul>

<p>Outside the bootcamp scope, being an Ambassador can open up a couple of freelance opportunities if you're into it. Almost after the bootcamp finished, I was following up with Mahmoud on 2 projects related to PHP &amp; Angular, and more opportunities that are related to Emirates NBA &amp; The new cyber security track that is taking place in ITI Alex.</p>
<h3>Conclusion</h3>
<p>Taking place in TIEC programs is one of the greatest steps to not only open a start for a great career journey and but also build high quality skill sets &amp; network with new colleagues of similar and different interests. Participants and organizers whom you'll meet there are more than being professional. They're cooperative, friendly, passionate, and take real steps towards achieving goals which in turn encourages you to give it all you got! :)</p>
	</main>
</body>
</html>