<!DOCTYPE html>
<html>
<head>
	<%- include("../_includes/global_head.ejs") -%>
	<title>Blog - XZANSite</title>
	<link rel="stylesheet" href="/css/blog.css">
</head>

<body class="body-dark">
	<header class="container">
		<div class="box">
			<h1>Blog - Home</h1>
			<div class="theme">
				<%- include("../theme_switch.ejs") %>
			</div>
		</div>
	</header>

	<br><br>

	<main class="container">
		<div class="row gy-5">
			<section class="col-12">
				<h2>Categories _</h2>
				<div class="row list" style="justify-content: center;">
					<% for(cat of categories){ %>
					<div class="col-6 list-record" style="text-align: center;">
						<h4><a href="/blog/<%= cat %>"><%= cat %></a></h4>
					</div>
					<% } %>
				</div>
			</section>
		</div>
	</main>
</body>
</html>